@font-face {
    font-family: MuseoSans100;
    src: url('../fonts/MuseoSans-100.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MuseoSans300;
    src: url('../fonts/MuseoSans-300.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MuseoSans500;
    src: url('../fonts/MuseoSans_500.otf');
    font-weight: normal;
    font-style: normal;
}

.section-1 {
  background-color:#535A6E;
  width:100%;
  padding-top:69px;
  padding-bottom:60px;
}

.section-2 {
  padding-top:42px;
  background-color:#35896E;
  width:100%;
  padding-bottom:60px;
}

.section-3 {
  padding-top:42px;
  background-color:#2D2E2C;
  width:100%;
  padding-bottom:60px;
  padding-top:60px;
}

.section-4 {
  background-color:#535A6E;
  width:100%;
  padding-top:30px;
  padding-bottom:10px;
}

p {
  font-family: MuseoSans100;
  font-size: 23px;
  color: #FFFFFF;
  line-height: 29px;
}
.icon-description {
  margin-top:43px;
}
.icon-name {
  margin-top:20px;
}
div {
  font-family:MuseoSans500;
  color:#FFF;
}

.icon-title {
  font-family:MuseoSans100;
  font-size:31px;
  color:#FFF;
}

.icon-row {
  margin-top:80px;
}

.circle-icon {
  margin-top:28px;
  width:150px;
  width:150px;
}

.title {
  font-family:MuseoSans100;
  font-size:56px;
  color:#FFF;
  margin-bottom:52px;
}

.subtitle {
  font-family:MuseoSans300;
  font-size:27px;
  color:#FFF;
  margin-bottom:82px;
}

.section-title {
  font-family:MuseoSans500;
  font-size:31px;
  color:#FFF;
  margin-bottom:33px;
}
.talos-icon {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  width:130px;
  height:148px;
  margin-bottom:17px;
}

.map-icon {
  margin-bottom:10px;
}

.center {
    text-align: center;
}

.center-container {
  width:100%;
  text-align:center;
}
.btn {
  outline: 0 none !important;
  background:none;
  border:none;
  cursor: pointer;
}

.btn-download {
  border-radius: 14px;
  background: #658EAA;
  border:none;
  -moz-box-shadow:    0px -3px 0px 0px #79AACB;
  box-shadow:         0px -3px 0px 0px #79AACB;

  font-family:MuseoSans500;
  font-size:31px;
  color:#FFF;
  text-align:center;
  width:341px;
  height:68px;
}

.clear { clear: both; }

.heart {
  color:#D85452;
}
